# Configuracion General
VITE_APP_NAME="Mi Proyecto"
VITE_PORT=3000
VITE_NODE_ENV="development"
VITE_LOG_LEVEL="info"
VITE_FEATURE_X_ENABLED=true

# Secretos
DB_PASSWORD="tu_password_aqui"
API_KEY="tu_api_key_aqui"
JWT_SECRET="tu_jwt_secret_aqui"
